.Ls{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    height: auto;
    width: 300px;
    border: 1px solid black;
    text-align: center;
}

form input{
    padding: 10px;
    text-align: center;
    margin: 10px;
    outline: none;
    border: 1px solid transparent;
    border-bottom: 3px solid black;
}

form button{
    padding: 10px;
    width: 100px;
    margin: 10px;
    background: orange;
    color: white;
    border: transparent;
}